
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* gqsjgjqsg */


.par{
  font-family: "Arial";
  font-size: 20px;
  color: #2c0264;;
}
.devi{
  margin-right: 300px;
}

.navbar{
  width: 100v;
  height: 100px;
}
.nav-item{
  margin-left: 30px;
  margin-top: 5vh;
  font-weight: bold;
}

.nav-item1{
  margin-left: 30px;
  margin-top: 2vh;
}

/* .uma{

background-color: white;
color: black;
padding-left: 20px;

margin-left: 100px;
margin-right: 400px;



} */
.button1{
  background-color: #2c0264;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
  margin-left: 80px;
 
}
/* button {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin: 10px; 
  width: 200px;
  background-color: #fdfeff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  margin-left: 40px;

} */
.b1{
  padding: 10px;
  margin: 10px;
}
.b2{
  padding: 10px;
  margin: 10px;
}
.control{

border: 1px solid #4f3570;
border-radius: 15px;
width: 590px;
margin-left: 80px;

}
.control1{
  border: 1px solid #4f3570;
border-radius: 15px;
width: 540px;
height: 50px;

  
 }
 .control14{
  border: 1px solid #4f3570;
border-radius: 15px;
width: 585px;
height: 50px;
margin-left: 80px;
  
 }
 .abc{
  margin-left: 80px;
 }
 .button14{
  background-color: #2c0264;
  color: white;
  margin-left: 80px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
 }
 .image2{
  height: 250px;
  width: 320px;
  
 
 }
.b6{
  border-radius: 10px;
  color: black;
  background-color: white;
  height: 50px;
  width: 60px;
}
.card{

  top: 55px;
left: 81px;
width: 832px;
height: 666px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #00000012;
border-radius: 50px;
opacity: 1;

}
/* .form{
  border-color:#4f3570;
border-radius: 80px;
width: 450px;
} */
.card{
  margin: 20px;
  padding: 40px;
  width: 650px;
  height: 0px; 
 
}
.card10{
  margin: 20px; 
  margin-left: 50px;
}
.profilecard23{
  width: 800px;
}
.profile{
  color: white;
  background-color: #2c0264;
border-radius: 20px;
width: 40px;
height: 30px;
padding-top: 5px;
text-align: center;

}
.bg-container{
  top: 264px;
left: -4px;
width: 1928px;
height: 1069px;
background: #F8F2FB 0% 0% no-repeat padding-box;
opacity: 1;
  
}
.bg-container41{
  top: 264px;
left: -4px;
width: 1988px;
height: 769px;
background: #F8F2FB 0% 0% no-repeat padding-box;
opacity: 1;
  
}
.form-label{
margin-left: 80px;
 
}
.btn2{
  margin-left: 19px;
}

@media screen and (max-width:768px){
  .remove{
      display: none;
  }
}
.btn1 {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin: 10px; 
  width: 280px;
  background-color: #fdfeff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  margin-left: 40px;


}
.btn2 {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin: 10px; 
  width: 300px;
  background-color: #fdfeff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  margin-left: 0.5px;

}
.btn3 {
  font-size: 18px;
  font-weight: 500;
  /* padding: 10px;
margin: 10px; */

  width: 280px;
  height: 50px;
  background-color: #fdfeff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  margin-left: 40px;

}
.btn4 {
  font-size: 18px;
  font-weight: 500;
  /* padding: 10px;
   margin: 10px; */
  
  width: 310px;
  height: 50px;
  background-color: #fdfeff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  /* margin-left: 40px; */
}
/* 2nd */

.login-header-logo{
  width: 100px;
  height: 100px;
}
.login-navitem{
  display: flex;
  flex-direction: row;
 justify-content: space-around;

}
.loginheader{
  text-align: center;
}
.loginheader1{
  color: black;
}
.loginpara{
  color: #4f3570;
 
}
.loginemail{
  color: black;
  font-weight: 600;
  padding-left: 20px;
  margin-left: 60px;
}
.logininput{
  padding: 10px;
  border: 1px  solid #4f3570;
  border-radius: 10px;
  margin-left: 80px;
  /* margin-top: 10px;
  margin-bottom: 10px;
  
  margin-right: 20px; */
 
}
.error {
  color: red;
  font-size: 20px;
  
}

.mes {
  font-size: 12px;
  
}

.loginforgot{
  margin-left: 600px;
  color: #4f3570;
  margin-right: 20px;
  margin-top: 10px;
}
.loginbutton{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(20, 20, 85);
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin-left: 80px;
  margin-right: 20px;
  width: 75%;

}
.loginh4{
 margin-left: 350px;
  color: #4f3570;
  margin-top: 10px;

}
.loginbutton2{
  padding: 10px;
  width: 220px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
}
.logingoogle{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 300px;
}
.googleimg{
  width: 50px;
  height: 30px;
  padding-right: 10px;
  
  

}


.eyeicon{
  /* margin-left: 300px; */
  /* margin-top: -40px; */
padding-right: 50px;
  color: rgb(213, 206, 206);
}

.pabjobheading{
  margin-left: 100px;
  color: #4f3570;
  margin-top: 20px;
}
.janlogin{
  color: #2c0264;
  margin-right: 10px;
}
.loginspan1{
 margin-top: 20px;
}
.Register {
  margin-top: 10px;
  border: 1px solid #4f3570;
  border-radius: 10px;
  color: #4f3570;
  background-color: white;
  text-decoration: none;
 
}
.container5{
  top: 164px;
  left: 0px;
 
  height: 838px;
  /* UI Properties */
  background: #F8F2FB 0% 0% no-repeat padding-box;
  opacity: 1;
}

.container6{
  color: white;
  background-color:black ;
  margin-top: 180px;
}
.logincard2{
  margin-top: 40px;
}

  /*jobs  */
  .bg-container1{
  background-color: #f8f2f8; 
  height: 200px;  
  width: 100vw; 
  }
.searchbar1{
 background-color: white;
 color: gray;
  border-color: white;
  margin-right: 20px;
  padding-left: 5px;
  border-radius: 10px;
  
}
.searchbar2{
  background-color: white;
  color: gray;
  border-color: white;
  border-radius: 10px;
}
.searchbutton{
  background-color: #2c0264;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin-left: 1000px;
  margin-top: 20px;
}
.jobbutton{
  background-color:white;
  color: rgb(12, 12, 12);
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
  
}
.jobbutton1{
  background-color:white;
  color: black;
  width: 150px;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
/* profile */
.angel-img {
  width: 70px;
  height: 50px;
  margin-right: 10px;
} 

.yedookati{
  top: 215px;
left: 281px;
width: 832px;
height: 970px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #00000012;
border-radius: 50px;
opacity: 1;

margin-top: 40px;



}
.swathi{
 width: 681px;
height: 129px;
/* UI Properties */
opacity: 1;
margin-left: 60px;
}

.heading{
  text-align: center;
}
.buttonreact{
  margin-left: 100px;
}
.alreadyakkadaundi{
  width: 600px;
}
.silent{
  background-color: black;
  padding-top: 30px;
}
.logincard1{
  top: 55px;
  left: 81px;
  width: 832px;
  height: 666px;
 margin-top: 80px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 50px;
  opacity: 1;

}

/* Home */
.container8{
text-align: center;
background-image: url("file:///C:/Users/Perfex/Downloads/Mask%20Group%201.svg");
height: 350px;
padding-top: 50px;
}
.subhomebutton{
  background-color: white;
  border-radius: 10px;
  border-color: white;
  margin-right: 8px;
}
.subbutton1{
  background-color: #4f3570;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
}
.imgbutton{
  top: 1130px;
left: 591px;
width: 179px;
height: 75px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 10px #FFFFFF ;
border-radius: 13px;
opacity: 1;
border-color: #f8f2f8;
}
.img21{
  background-color: #2c0264;
  color: #2c0264;
}
.searchlocate{
  top: 1062px;
left: 326px;
width: 209px;
height: 30px;
/* UI Properties */
text-align: left;
font: normal normal bold 24px/31px Ebrima;
letter-spacing: -0.24px;
color: #2C0264;
opacity: 1;
margin-left: 800px;
}
.topsearch{
  top: 717px;
left: 326px;
width: 146px;
height: 30px;
/* UI Properties */
text-align: left;
font: normal normal bold 24px/31px Ebrima;
letter-spacing: -0.24px;
color: #2C0264;
opacity: 1;
}
.ram{
  top: 1122px;
left: 330px;
width: 1298px;
height: 63px;
margin-left: 280px;

/* UI Properties */
opacity: 1;
}
.search{
  top: 1035px;
  left: 0px;
  width: 1999px;
  height: 191px;
  /* UI Properties */
  background: #F8F2FB 0% 0% no-repeat padding-box;
  opacity: 1;
  
}

.custom-btn {
  top: 2212px;
  left: 326px;
  width: 234px;
  height: 56px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000026;
  border-radius: 13px;
  opacity: 1;
   background-color: white;
  border-radius: 10px;
  border-color: white;

  
}
.container43 {
  top: 2081px;
left: 0px;
width: 1920px;
height: 414px;
/* UI Properties */
background: #F8F2FB 0% 0% no-repeat padding-box;
opacity: 1;
}
.skills2{
  top: 2816px;
left: 326px;
width: 1302px;
height: 96px;
/* UI Properties */
background: #270D44 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 28px;
opacity: 1;

}
.input{
  margin-top: 10px;
}
.bellicon{
  margin-top: 40px;
 
}
.user{
color: #2c0264;
width: 100px;
font-size:300%;
margin-right: 20px;
margin-top: 2vh;

}
/* .user{
  color:#282c34;
  width: 100px;
  font-size:300%;
  margin-top: 3vh;
 
} */
.div{
  background-color: #4f3570;
  margin-left: 100px;
  height: 220px; 
  
}
.skillHead{
  color: #61dafb;
}
.card{
  height: 600px;
}
.logo21{
  width: 50px;
}
.card21{
  top: 777px;
left: 330px;
width: 1303px;
height: 220px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;

  
}
.jobCard{
  top: 1320px;
  left: 326px;
  width: 291px;
  height: 203px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #00000029;
  border-radius: 13px;
  opacity: 1;
  margin-left: 40px;
  text-align: center;
  padding-top: 30px;
}
.joblogo{
  height: 190px;
  width: 300px;
/* border-radius: 5px 50px 100px 5px; */
}
.abs{
  top: 2843px;
left: 1055px;
width: 362px;
height: 46px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.bgt{
  top: 2843px;
  left: 1416px;
  width: 145px;
  height: 46px;
  /* UI Properties */
  background: #FFAA00 0% 0% no-repeat padding-box;
  opacity: 1;
}
/* jobs */
.mainNavBar {
  justify-content: space-between;
}

/* @media (max-width: 991px) {
  .firstDiv{
  display: none;
  }
  
} */
#jobsDropDown {
  color: #2c0264;
  font-weight: bold;
}

.secondContainer {
  background-color: #f8f2f8;
}

.searchBox {
  border: none;
  outline: none;
}

.seacrhMainContainer {
  background-color: white;
  border-radius: 15px;
  justify-content: space-between;
  width: 500px;
}

.registerButton {
  background-color: #2c0264;
  color: white;
  width: auto;
  font-weight: 500;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.categoryButton {
  background-color: #2c0264;
  color: white;
  width: 200px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #FFFFFF ;
}

#dropdown1,
#dropdown2 {
  color: black;
  font-size: 14px;
}

.categoryBtn {
  background-color: white;
  color: black;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px whitesmoke;
  border: none;
  font-size: 13px;
  width: 200px;
  height: 50px;
}

#homeNavBar {
  color: black;
  background-color: white;
  font-weight: 400;
}

.allJobsContainer {
  height: 700px;
  overflow-y: scroll;
}

.categoryBtnContainer {
  height: 500px;
  position: sticky;
  top: 0;
}

.categoryTitle {
  color: #2c0264;
  font-weight: bold;
}

.locationBtn {
  background-color: white;
  color: black;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px whitesmoke;
  border: none;
  font-size: 13px;
}

.fixed-container {
  width: fit-content;
}

.categories {
  /* box-shadow: 5px 5px 5px 2px whitesmoke;
  box-shadow: -3px 3px 2px 0.2px whitesmoke;
  box-shadow: -3px 3px 2px 0.2px whitesmoke; */
  box-shadow: 1px 0px 10px -6px rgba(0, 0, 0, 0.5), -1px 0px 10px -6px rgba(0, 0, 0, 0.5);
}

.cont1 {
  justify-content: space-between;
}

.textContent {
  justify-content: space-around;
  text-decoration: none;
  color: #2c0264;
}

/* .nav-item {
  list-style: none;
} */

.logo {
  display: inline-block;
  width: 100px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.2);
}

.indus {
  top: 1260px;
  left: 326px;
  width: 248px;
  height: 30px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 17px/31px Ebrima;
  letter-spacing: -0.24px;
  color: #2C0264;
  opacity: 1;

}

.indBtn {
  border: transparent;
  font-size: 12px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 5px;
  justify-content: space-around;
  font-size: 12px;
}

.iconarr {
  padding-right: 15px;
}

#bLine {
  border-bottom: 1px solid white;
}

.logos {
  color: #ffffff;
  font-size: 30px;
}

.thick-horizontal-line {
  height: 1px;
  background-color: white;

}

.footerSection {
  background-color: black;
  color: white;
}

.secondCol,
.thirdCol,
.fourthCol {
  font-size: 10px;
  word-spacing: 5px;
  line-height: 1.2rem;
}

.footerSection {
  padding: 70px;
}

.footerText {
  font-size: 9px;
  line-height: 1.5rem;

}

.secondFooterContainer {
  justify-content: space-between;

}

.firstFooterContainer {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .secondFooterContainer {
      display: flex;
      flex-direction: column;
      justify-content: initial;
  }

}

.footerSection {
  padding: 20px;
}

@media (min-width:320px) and (max-width:768px) {
  #bottomPabLogo {
      width: 100px;

  }
}

@media (min-width:320px) and (max-width:768px) {
  #bottomPabLogo {
      width: 100px;

  }

  #iconSymbol {
      font-size: 15px;
      padding: 2px;
  }

  .footerSection {
      padding: 20px;
  }

  .betweenElement {
      color: silver;
      font-weight: 200;
  }


}

#linkedIn,
#facebook,
#instagram,
#twitter {
  transition: 2s;
}

#linkedIn:hover,
#facebook:hover,
#instagram:hover,
#twitter:hover {
  transform: rotate(360deg);
}

.pabLogo {
  width: 150px;
}

/* profilediv */
.profilediv {
  width: 300px;
  background-color: rgba(241, 138, 35, 0.43);
  height: 80vh;
  margin-left: 20%;
  margin-bottom: 10px;

}
/* jobscategory */
.btn12{


  padding: 5px;
  margin: 2px; 
  width: 60px;
  background-color: #fdfeff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  margin-left: 5px;

}
.btn14{

  padding: 10px;
  margin: 10px; 
  width: 150px;
  background-color: #fdfeff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  margin-left: 5px;
}
.jobbutton{
  width: 200px;
  height: 40px;
  justify-content: center;
}
.buttonalpha{
  height: 80px;
  width: 80px;
  margin-left: 30px;
  margin-bottom: 10px;
  justify-content: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #7e7b7b29;
  border-radius: 13px;
  opacity: 1;

}
.buttonlocation{
  height: 80px;
  width: 250px;
  justify-content: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #cabbbb29;
  border-radius: 13px;
  opacity: 1;
}
.card413{
  height: 1200px;
background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
      -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
 
}
.password-toggle {
  position: absolute;
  transform: translateX(-105%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
 margin-right:12%;
  font-size: 1rem;
}
