.profileicon{
    font-size: 100px;
    text-align: center;
    color: grey;
  }
  .profilebutton{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
  }
  .profilebutton:hover{
    background-color: rgb(189, 187, 187);
    color: #371a5e;
    font-weight: bold;
  }
  .profileh5{
    font-weight: bold;
    text-align: start;
  }
  .profilename{
    font-weight: bold;
    text-align: start;
  }
  .uma120{
     background: #F8F2FB;
     height: 400vh;
    
  }
  .fresher{
    text-align: start;
  }
  .form-control{
    border-radius: 10px;
    border: 1px  solid #604a7c; 
  }
  
  .profilebutton1{
    background-color: rgb(19, 19, 66);
    color: white;
    border-radius: 10px;
  height: 50px;
  width: 150px;
  }


.profilecard{
    width: 400px;
    height: 650px;
   text-align: center;
   padding-top: 50px;
   margin-top: 80px;
   margin-bottom: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #00000012;
border-radius: 10px;
}
.profilecard1{
  width: 500px;
  height: 600px;
  margin-top: 80px;
  margin-bottom: 30px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 0px 0px 15px #00000012;
border-radius: 10px;
  
}

  /* applied part */

  .appliedh2{
font-weight: bold;
  }
.small{
    
    color: black;
   
}
.sunbcard{
    height: 400px;
}
.domain{
    border-radius: 20px;
    background-color:gray;
    
}
.threebutton{
    background-color: transparent;
    border-radius: 10px;
    border: none;
}
.devi{
    margin-left: 400px;
}
.jobalert{
  margin-top: 40px;
}
.grapicscard{
  height: 310px;
  width: 600px;
  margin-bottom: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #00000012;
    border-radius: 10px;
    opacity: 1;
}
.profilecard2{
    height: 650px;
    margin-top: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #00000012;
    border-radius: 20px;
    opacity: 1;
}
.profilecard3{
  height: 650px;
  margin-top: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 10px;
  opacity: 1;
}
.profilecard23{
  height: 730px;
  margin-top: 80px;
  margin-bottom: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 10px;
  opacity: 1;
}
.img-circle{
  border-radius: 50%;
  width: 200px;
}
.profilecard7{
  margin-left: 100px;
}
.spa83{
  margin-left: 100px;
  color: red;
}
.spa84 {
  margin-left: 80px;
  font-size: 15px;
}
.profilecardi{
  width: 400px;
    height: 500px;
    padding-top: 35px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left:80px;
     background: #FFFFFF 0% 0% no-repeat padding-box;
     box-shadow: 0px 0px 15px #00000012;
     border-radius: 20px;
     opacity: 1;
}
.resumupload
{
  margin-top: 80px;
  margin-left: 90px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 10px;
  opacity: 1;
}.resumebtn{
 background-color: white;
 border-color: white;
 border-radius: 20px;
}
.btnresume{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 10px;
  margin-left: 20px;
  height: 51px;
  margin-bottom: 10px;
  width: 100px;
  opacity: 1;
}
.resumeUploadbtn1{
  background-color: #371a5e;
  color: white;
  border-radius: 10px;
  margin-left: 200px;
}
.resumepara{
  margin-left: 150px;
  font-size: 15px;
  color: gray;
}
.resumeUploadbtn{
 border-style: dashed;
 color: gray;
 padding: 50px;
}
.card1{
  height: 300px;
  width: 650px;
}
.card2{
  height: 180px;
  width: 650px;
}
.card3{
  height: 300px;
  width: 650px;
}
.card4{
  height: 330px;
  width: 650px;
}
.card5{
  height: 300px;
  width: 650px;
}

