.profileicon{
    font-size: 100px;
    text-align: center;
    color: grey;
  }
  .profilebutton{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
  }
  .profilebutton:hover{
    background-color: rgb(189, 187, 187);
    color: #371a5e;
    font-weight: bold;
  }
  .profileh5{
    font-weight: bold;
    text-align: start;
  }
  .profilename{
    font-weight: bold;
    text-align: start;
  }
  .fresher{
    text-align: start;
  }
  .profileselect{
    border-radius: 10px;
  }
  .profilebutton1{
    background-color: rgb(19, 19, 66);
    color: white;
    border-radius: 10px;
  height: 50px;
  width: 150px;
  }


.profilecard{
    width: 400px;
    height: 750px;
    justify-content: center;
    
}
.profilecard1{
  width: 500px;
  height: 600px;
  
}

  /* applied part */

  .appliedh2{
font-weight: bold;
  }
.small{
    
    color: black;
   
}
.sunbcard{
    height: 400px;
}
.domain{
    border-radius: 20px;
    background-color:gray;
    
}
.threebutton{
    background-color: transparent;
    border-radius: 10px;
    border: none;
}
.devi{
    margin-left: 260px;
}
.grapicscard{
  height: 315px;
  width: 600px;
  
}
.profilecard2{
  height: 750px;
}
.profilecard7{
  margin-left: 100px;
}
.spa83{
  margin-left: 100px;
  color: red;
}
.spa84 {
  margin-left: 80px;
  font-size: 15px;
}
.profilecardi{
  width: 400px;
    height: 500px;
    justify-content: center;
}
.resumebtn{
 background-color: white;
 border-color: white;
 border-radius: 20px;
}
.resumeUploadbtn1{
  background-color: #371a5e;
  color: white;
  border-radius: 10px;
  margin-left: 200px;
}
.resumepara{
  margin-left: 150px;
  font-size: 15px;
  color: gray;
}
.resumeUploadbtn{
 border-style: dashed;
 color: gray;
 padding: 50px;
}
.card1{
  height: 300px;
  width: 650px;
}
.card2{
  height: 180px;
  width: 650px;
}
.card3{
  height: 300px;
  width: 650px;
}
.card4{
  height: 400px;
  width: 650px;
}
.card5{
  height: 300px;
  width: 650px;
}
